.products {
    display: flex;
    gap: 30px;
    padding: 60px calc(50% - 555px) 57px;
}

.card-product{
    border: var(--color-bg_shade) 1px solid;
    flex: 1 1 calc(25% - 20px);
}

.card-product__wrapper{
    min-height: 180px;
    padding: 30px 16px;
}

.card-product__wrapper_plant{
    background: var(--color-bg_shade) url('../images/img/plant.png') center no-repeat;
    padding: 16px;
}

.card-product__wrapper_flower{
    background: var(--color-bg_shade) url('../images/img/flower.png') center no-repeat;
    padding: 16px;
}

.card-product__wrapper_leaf{
    background: var(--color-bg_shade) url('../images/img/leaf.png') center no-repeat;
    padding: 16px;
}

.card-product__wrapper_wood{
    background: var(--color-bg_shade) url('../images/img/wood.png') center no-repeat;
    padding: 16px;
}

.card-product__container {
    display: flex;
    flex-direction: column;
    min-height: 313px;
    justify-content: space-between;
    padding: 16px 16px 24px 16px;
}

.card-product__title{
    color: var(--color-primary);
    margin-bottom: 0px;
    font-family: var(--font-family-title);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.card-product__description{
    color: var(--color-primary_grey);
    margin-bottom: 16px;
    font-family: var(--font-family-desc);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.card-product__deatils{
    border: var(--color-primary_green) 1px solid;
    padding: 10.5px 28.5px;
    background-color: transparent;
    color: var(--color-primary_green);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
