.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 350px;
}

.form__field {
    background-color: var(--color-primary);
    padding: 10.5px 16px;
    border: none;
    font-family: var(--font-family-desc);
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.form__field:hover {
    background-color: var(--color-primary_grey);
}

.form__field:focus {
    outline: #83A440 1px solid;
    outline-offset: 2px;
    transition: all 0.2s ease-in-out;
}

.form__btn-submit {
    font-family: var(--font-family-desc);
    color: var(--color-bg_shade);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    padding: 11.5px 26px;
    background-color: var(--color-primary_green);
    max-width: 145px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form__btn-submit:hover {
    background-color: #91AC46;
}

.form__btn-submit:active {
    background-color: #688B05;
}

.form__btn-submit:focus {
    outline: #83A440 1px solid;
    outline-offset: 2px;
    transition: all 0.2s ease-in-out;
}