.natural-artifacts {
    background: url('../images/webp/header.webp') center / cover no-repeat;
    padding: 86px calc(50% - 555px) 139px;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    position: relative;
}

.natural-artifacts::before {
    content: '';
    background-color: rgba(29, 47, 48, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.natural-artifacts__title, .natural-artifacts__description, .natural-artifacts__link, .header, .products {
    z-index: 2;
    position: relative;
}

.natural-artifacts__title {
    color: var(--color-primary);
    margin-bottom: 25px;
    font-family: var(--font-family-title);
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    max-width: 629px;
}

.natural-artifacts__description {
    color: var(--color-primary);
    margin-bottom: 20px;
    font-family: var(--font-family-desc);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    max-width: 675px;
}

.natural-artifacts__link {
    color: var(--color-primary_green);
    font-family: var(--font-family-desc);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    max-width: 160px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease-in-out;
}

.natural-artifacts__link svg {
    transition: all 0.3s ease-in-out;
    fill: var(--color-primary_green);
}

.natural-artifacts__deatils{
    border: var(--color-primary_green) 1px solid;
    padding: 10.5px 28.5px;
    background-color: transparent;
    color: var(--color-primary_green);
    font-size: 16px;
    cursor: pointer;
}